.banner-container {
  position: relative;
  width: 82%;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bannerbg.jpg'); */
  background-size: cover; /* Ensure the background image covers the entire area */
  position: relative;
}

.banner-paragraph-content {
  color: #184363;
}
.banner-heading-content {
  color: #184363;
}

.banner-button {
  color: #184363;
  background-color: #fff;
  border-color: #fff;
  border-radius: 12px;
  padding: 5px;
}

.carousel-item {
  flex: 0 0 100%;
  /* margin-right: 15px; */
  margin-right: 0;
}

.carousel-item.active {
  opacity: 1;
}

.main-banner {

  height: 300px;
  position: relative;


  width: 100%; /* Ensure the main banner takes up the full width */
   height: 500px; /*Set the height of the main banner */
  background-size: cover; /* Ensure the background image covers the entire area */
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-images-container {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.banner-image {
  height: 250px;
  width: 250px;
  max-width: 100%;
  height: auto;
  background-color: transparent;
}

/* .slider-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
    } */

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 auto;
  }
}



